* {
      padding: 0%;
      margin: 0%;
}

.mainDiv {
      border: 3px solid white;
      width: 1440px;
      height: 901px;
      margin:50px auto;
      background-color: #F5F5F5;
}
.mainDiv:hover{
      border: 3px solid #2666CF;
}

.secondDiv {
      border: 1px solid white;
      width: 450px;
      height: 650px;
      margin:50px auto;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      background-color: white;
}

.secondFirstDiv {
      text-align: center;
      width: 300px;
      margin:30px auto;
}

.formData {
      display: grid;
      width: 350px;
      grid-template-columns: 1fr;
      margin: auto;
      gap: 15px;
}

.inputData {
      height: 25px;
      padding: 5px;
      border-radius: 5px;
}

.btn1-500 {
      font-size: 1rem;
      padding: 2px 5px;
      margin-right: 5px;
      border: none;
}

#btn51-200 {
      background-color: #2666CF;
      color: white;
}

#bthget {
      background-color: #2666CF;
      color: white;
      border: none;
      height: 50px;
      padding: 0px 20px;
      font-size: 1.5rem;
}

.termDiv{
    text-align: center;
    margin-top:80px;  
}

.logo2{
      position: relative;
      left: 8%;
       top: 5%;
}